<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACTUALIZAR SALDO</title>
</head>

<h2> actualizar saldo</h2>
<form method="POST">
    <label>Ingrese la Placa del vehículo</label>
    <input type="text" name="placa" required>

    <label>ingrese la nueva cantidad de saldo </label>
    <input type="number" name="cantidad" required>

    <button type="submit">Aceptar</button>
</form>

{% if mensaje %}
   <p>{{ mensaje }}</p>
{% endif %}