<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD SALDO VEHICULO</title>
</head>
<body>
    <h1>CRUD VEHÍCULOS</h1>

        <a href="agregar_saldo.html"><button>agregar saldo</button></a>

        <a href="revisar_saldo.html"><button>Revisar saldo</button></a>

        <a href="actualizar_saldo.html"><button>Ir a otra página</button></a>

        <a href="eliminar_saldo.html"><button>Ir a otra página</button></a>
</body>
</html>